.homeMain{
     height: calc(50vh - 5rem);
   background-image: linear-gradient(
      rgba(84, 86, 87, 0.8),
      rgba(64, 65, 65, 0.8)
    ),
    url("image.png");
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
     p{
       padding:2rem;  
     }
}