.header {
  margin-top: 10px;
}
.aboutContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}
.aboutQuestion {
  /* background-color: #283e51; */
  box-shadow: 1px 2px 2px 1px #ccc;
  color: #000000;
  text-transform: capitalize;
  border-radius: 5px;
  padding: 10px;
   cursor: pointer;
}
.span {
  float: right;
  font-weight: bold;
}
.aboutAnswer{
    padding: 10px;
}
.aboutImgBox{
  img{
    width: 100%;
   
  }
}