.container {
  text-transform: capitalize;
}
.unorderedList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  text-align: center;
  padding: 10px;
  list-style: none;
}
.list {
  box-shadow: 1px 2px 1px 1px  #ccc;
  border-radius: 10px;
  padding: 10px;
  a{
    color: #000000;
    /* text-decoration: none; */
    font-weight: bold;
  }
  .Fa{
    font-size: 40px;
    background-color: #c12626;
  }
}
