.header{
  position: sticky;
  top:0;
  z-index: 999;
  background-color: #fff;
  margin-top:4rem;
}
.container{
display: grid; 
grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
gap:1rem;
background-color: #fff;
}

.propertyBox{
width:250px;
background-color: #fff;
padding: 10px;
box-shadow:0 4px 8px rgba(0,0,0,0.15) ;
}
.imageBox{
  width: 250px;
  img{
width: 100%;
object-fit: contain;
  }
}
.purchaseBtn{
  background-color: #000000;
  color: #fff;
  cursor: pointer;
}
.propertyPrices{
    padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.favIcon{
  font-size: 1.5rem;
  cursor:pointer;
  color:#d34d5c;
}