.container{
    background-color: #0e0d0d;
    color: #fff;
    width: 95%;
    margin:auto;
    border-radius:4px;
    margin-top: 100px;
}
.anchorLink{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;  
    a{
        color: #fff;
        text-decoration: none;
    }
}
.newsSpan{
    display: flex;
    justify-content: center;
    gap: 6px;
}