
.sidenav{
    display: none;
  }
  .header{
    display: none;
  }
  .open{
    top:0;
  }
@media (max-width: 720px) {
  .sidenav {
 background: linear-gradient(135deg, #283E51, #485563);
     display:flex;
    align-items:center;
    justify-content: space-around;
    width: 95%;
    /* height:95%; */
    margin:auto;
    border-radius: 0px 0px 10px 10px;
    top:0;
     position:sticky;
     z-index:999;
   
}
 .header{
    display:flex;
    justify-content: space-around;
    align-items: center;
     background: linear-gradient(135deg, #283E51, #485563);
     width: 95%;
     margin:auto;
     top:0;
     position:sticky;
     z-index:1000;
 }
}

