
.SideNavMenu {
  padding: 2px 6px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 20px;

}
.SideNavMenu li {
    list-style: none;
    background: #fff;
      color:#000000;
    width: 200px;
    border-radius: 5px;
    
}
.SideNavMenu a:link {
    display: flex;
    font-size: 20px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 10px;
  font-size: 20px;
  text-transform: capitalize;
}

.SideNavMenu li :global(.active){ 
    background-color: #283E51;
    color:#fff;
      width:200px;
      border-radius: 5px;
}
