
.box{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 320px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap:1.5rem;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.1)
}
.form {
  transition: filter 0.3s ease;
}
.input {
  padding: 0.50rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.input:focus {
  outline: none;
  border-color: #2563eb;
}

.button {
 padding: 0.50rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.button:hover {
  background-color:#000000;
  color: #fff;
  cursor: pointer;
}
.blur {
  filter: blur(1px);
}
